body {
    font-family:'Open Sans', sans-serif;
  }


  #navbar{
    position: fixed;
  }

@media (max-width: 767px) {
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.formone{
    border: 1px solid black;
    background-color: rgb(47, 4, 78);
    color: white;
    height: 650px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
}

.col ul input{
    background-color: inherit;
    width: 41%;
    padding: 10px;
    border: 2px solid white;
    color: white;
    border-radius: 10px;
}

.col input{
    width: 80%;
    padding: 10px;
    margin: 10px;
    background-color: inherit;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.col textarea{
    height: 200px;
    width: 80%;
    padding: 10px;
    background-color: inherit;
    color: white;
    border: 2px solid white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}

.formone button{
    width: 80%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color:palevioletred;
}

.blog-card{
    height: 500px;
}


















